<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.jpg">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p class="par-about">A simple weather forecast app that uses weatherstack.com and mapbox data to make a forecast.Written in Javascript,CSS. I used NodeJs as runtime enviroment and Handlebars for templates.</p>

       
    </div>
    
    {{>footer}}
</body>

</html>
