<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="main-content">
        {{>header}}

        <p class="info">Search for weather forecast of the place you want!</p>

        <form>
            <input placeholder="Enter location">
            <button>Search</button>
        </form>
        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>

    <p class="instructions">You can either search by city name or with the two letter country code and post number,for example "DE, 10115"</p>

    <p class="credits">Photo by <a href="https://unsplash.com/@8moments?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Simon Berger</a> on <a href="https://unsplash.com/s/photos/background-design?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  </p>
    {{>footer}}

    <script src="/js/app.js"></script>

</body>

</html>